# Python
*.pyc
*.pyo
__pycache__/
env/
venv/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# IDEs & Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Configuration files
.env

# Build files
build/
dist/

# Temporary files
*.swp
*.swo

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Package Manager files (e.g. npm, yarn)
package-lock.json
yarn.lock

# Python virtualenvs
.venv/

